body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f7f7f7;
}

header {
	background-color: #444;
	color: #fff;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 36px;
	line-height: 1.2;
}

main {
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  margin: o auto;
}

section {
	margin-bottom: 40px;
	flex-basis: 48%;
	background-color: #bbb;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
	margin: 0;
	font-size: 24px;
	line-height: 1.2;
	color: #333;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin-bottom: 10px;
}

footer {
	background-color: #444;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.imagen-de-perfil {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.info {
	flex-basis: 50%;
	margin-right: 2rem;
}

form {
  flex-basis: 50%;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #bbb;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto; /* Centra el formulario */
}

form label,
form input,
form textarea {
	margin-bottom: 1rem;
	color: #333;
}

form label {
	font-weight: bold;
}

form input,
form textarea {
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

form input[type="submit"] {
	background-color: #444;
	color: #fff;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

form input[type="submit"]:hover {
	background-color: #333;
}

@media screen and (max-width: 768px) {
	main {
		flex-direction: column;
	}
	section {
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	.info {
		margin-right: 0;
	}
	form {
		margin: 0 auto;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}

section.info {
    flex-basis: 50%;
    margin-right: 2rem;
}

section.section4 {
  flex-basis: 48%;
  background-color: #bbb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: auto; /* Añadimos margen izquierdo automático */
}
